html,
body,
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  text-align: center;
}


:root {
 /*normal mode colors*/
  --touslesjoursgreen: #0e4832;
  --whitegray: #f4f1de;
  --whitebrown: #ede0d4;
  --cornsilk: #FEFADC;
  --pearl: #FDFCED;


  /*ugly mode colors*/
  --uglypurple: #411a77;
  --uglypink: #ff0080;
  --uglyyellow: #d0b505;
  --uglygreen: #65FE08;
  --uglykms: #FAC05E;


  --primary: var(--whitegray);
  --secondary: var(--whitebrown);
  --tertiary: var(--touslesjoursgreen);
  --quaternary: var(--cornsilk);
  --quintary: var(--pearl);
  --h1: 7.594rem;
  --h2: 5.063rem;
  --h3: 3.375rem;
  --h4: 2.25rem;
  --h5: 1.5rem;
};


.normalmode{
 --primary: var(--whitegray);
 --secondary: var(--whitebrown);
 --tertiary: var(--touslesjoursgreen);
 --quaternary: var(--cornsilk);
 --quintary:  var(--pearl);
}


.uglymode{
 --primary: var(--uglypurple);
 --secondary: var(--uglypink);
 --tertiary: var(--uglyyellow);
 --quaternary: var(--uglygreen);
 --quintary: var(--uglykms);
}


.title{
 background-color: var(--primary);
 height: 15vh;
}


.main{
 background-color: var(--secondary);
 }


h1,h2,h3,h4,h5{
 text-align: center;
 color: var(--tertiary);
 text-align: center;
}


.category, #changetheme, .all{
  border-radius: 12px;
  padding: 15px 32px;
  text-align: center;
  background-color: var(--quintary);
  transition-duration: 0.4s;
}


h1{
  font-size: var(--h1);
}


h2{
  font-size: var(--h2);
}


h3{
  font-size: var(--h3);
}


h4{
  font-size: var(--h4);
}


h5{
   font-size: var(--h5);
}


.card {
  padding: 2%;
  margin: 2rem 2rem;
  height: 550px;
  width: 400px;
  border-radius: 12px;
  background-color: var(--quaternary);
}


img {
  width: 350px;
  height: 350px;
}


.cardcontainer{
  display: flex;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  justify-content: space-around;
}







